.Container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.content {
	width: 700px;
	margin-top: 100px;
	padding: 20px;
	height: 350px;
	border: 1px solid #ddd;
	border-radius: 10px;
	box-shadow: 5px 5px 12px #ddd;
	position: relative;
}
.title {
	font-size: 20px;
	margin-top: 10px;
}
.buttonNext {
	position: absolute;
	bottom: 20px;
	right: 20px;
}
.buttonBack {
	position: absolute;
	bottom: 20px;
	left: 20px;
}
.label {
	width: 85px;
	display: inline-block;
}
.finishedContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.imageSuccess {
	background-image: url('../../../asset/images/tick.png');
	background-repeat: no-repeat;
	background-size: contain;
	width: 200px;
	height: 200px;
}
.titleSuccess {
	font-size: 23px;
	font-weight: bold;
}
