<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <style>
        div {
            text-align: center;
            background-color: #E6E6DD;
        }

        h1 {
            color: rgb(140, 109, 109);
        }
    </style>
</head>

<body>
    <div>
        <h1>This message is authorized by G16Bank - Thanks for using our service </h1>
        <h2>Hello {{name}}</h2>
        <h2>Your OTP is: {{otp}}</h2>
    </div>

</body>

</html>