.container{
    margin: 10px 10%;
}
.header{
    margin: 0px 10%;
    display: flex;
    justify-content: space-between;
}

thead[class*="ant-table-thead"] th{
    background-color: rgba(29,150,178,1) !important;
  }